<!DOCTYPE html>
    
    <html lang="en">
    <head>
        <title>Website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body cz-shortcut-listen="true">

        <header class="" id="showcase">
        
            <div class="bg-image"></div>
            <div class="content-wrap">
                <h1>Welcome to ..... food</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, nesciunt!</p>
                <a href="#" class="btn">Veillez reserver une table</a>
               
            </div>
            <a href="#" class="hamburger fa fa-bars" id="bars"></a>
            <ul class="menu" id="menu">
                
                    <li><a href="#home">home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#menu">Menu</a></li>
                    <li><a href="#service">Services</a></li>
                    <li><a href="#reservation">Reservation</a></li>
                    <li><a href="#temoignage">Témoignage</a></li>
                </ul>
                <a href="#" class="hamburger fa fa-times" id="times"></a>
        </header>
        <!-- section-a-->
        <section  id="section-a">
            <div class="content-wrap">
                <h1 id="about" class="content-title">About</h1>
                <div class="content-text">
                    <p>
                       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui eius ad, laborum nemo enim quis, earum exercitationem
                        facilis vero autem beatae cupiditate? Dignissimos sed ea voluptates maxime quos facilis distinctio earum quam beatae explicabo. 
                       Quos, recusandae optio eius sunt odio dolor ea maxime ut. Necessitatibus architecto officia magni cumque dolore.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eveniet nam ipsa sequi autem facilis totam similique ullam quo. Provident.
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus nesciunt quas cum amet consequuntur vel, facilis nam, quia quibusdam, 
                       dolore quisquam quae quis repellendus sapiente molestias ipsam. Molestiae, dolore numquam?
                    </p>
                </div>
            </div>
        </section>
        <!-- section b-->
        <section class="" id="section-b">
            <div class="content-wrap">
                <h1 class="content-title" id="menu">Menu</h1>
                <div class="content-buttons">
                    <a href="#menu"id="p_button" >Petit Déjeuner</a>
                    <a href="#menu"id="d_button" >Déjeuner</a>
                    <a href="#menu"id="di_button" >Dinner</a>
                </div>
                <ul id="petit-dejeuner">
                    <li>
                        <div class="card">
                        <img src="https://i.pinimg.com/564x/5e/e9/05/5ee905622a32f54a6725a3cca4cba0cb.jpg">
                            <div class="card-content">
                                
                                <h1 class="card-title">Riz Sauté</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod.</p>
                                <span>1000<sup>FCFA</sup></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <img src="https://i.pinimg.com/564x/65/2d/3b/652d3b7d49e729c39690a7ec1f4d2da3.jpg">
                            <div class="card-content">
                                <h1 class="card-title">Dégé</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod.</p>
                                <span>1000<sup>FCFA</sup></span>
                            </div>
                        </div>
                    </li>
                    <li>
                         <div class="card">
                            <img src="https://i.pinimg.com/564x/65/2d/3b/652d3b7d49e729c39690a7ec1f4d2da3.jpg">
                            <div class="card-content">
                                <h1 class="card-title">Dégé</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod.</p>
                                <span>1000<sup>FCFA</sup></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <img src="https://i.pinimg.com/564x/65/2d/3b/652d3b7d49e729c39690a7ec1f4d2da3.jpg">
                            <div class="card-content">
                                <h1 class="card-title">Dégé</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod.</p>
                                <span>1000<sup>FCFA</sup></span>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul id="dejeuner" style="background:blue;">
                    <li>
                        <div class="card">
                        <img src="https://i.pinimg.com/564x/5e/e9/05/5ee905622a32f54a6725a3cca4cba0cb.jpg">
                            <div class="card-content">
                                
                                <h1 class="card-title">Riz Sauté</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod.</p>
                                <span>1000<sup>FCFA</sup></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <img src="https://i.pinimg.com/564x/65/2d/3b/652d3b7d49e729c39690a7ec1f4d2da3.jpg">
                            <div class="card-content">
                                <h1 class="card-title">Dégé</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod.</p>
                                <span>1000<sup>FCFA</sup></span>
                            </div>
                        </div>
                    </li>
                    <li>
                         <div class="card">
                            <img src="https://i.pinimg.com/564x/65/2d/3b/652d3b7d49e729c39690a7ec1f4d2da3.jpg">
                            <div class="card-content">
                                <h1 class="card-title">Dégé</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod.</p>
                                <span>1000<sup>FCFA</sup></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <img src="https://i.pinimg.com/564x/65/2d/3b/652d3b7d49e729c39690a7ec1f4d2da3.jpg">
                            <div class="card-content">
                                <h1 class="card-title">Dégé</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod.</p>
                                <span>1000<sup>FCFA</sup></span>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul id="dinner">
                    <li>
                        <div class="card">
                        <img src="https://i.pinimg.com/564x/5e/e9/05/5ee905622a32f54a6725a3cca4cba0cb.jpg">
                            <div class="card-content">
                                
                                <h1 class="card-title">Riz Sauté</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod.</p>
                                <span>1000<sup>FCFA</sup></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <img src="https://i.pinimg.com/564x/65/2d/3b/652d3b7d49e729c39690a7ec1f4d2da3.jpg">
                            <div class="card-content">
                                <h1 class="card-title">Dégé</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod.</p>
                                <span>1000<sup>FCFA</sup></span>
                            </div>
                        </div>
                    </li>
                    <li>
                         <div class="card">
                            <img src="https://i.pinimg.com/564x/65/2d/3b/652d3b7d49e729c39690a7ec1f4d2da3.jpg">
                            <div class="card-content">
                                <h1 class="card-title">Dégé</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod.</p>
                                <span>1000<sup>FCFA</sup></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <img src="https://i.pinimg.com/564x/65/2d/3b/652d3b7d49e729c39690a7ec1f4d2da3.jpg">
                            <div class="card-content">
                                <h1 class="card-title">Dégé</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod.</p>
                                <span>1000<sup>FCFA</sup></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </section>
        
     
        <!--section c-->
        <section id="section-c" class="">
            <div class="content-wrap">
                <h1 id="service" class="content-title"> Services</h1>
                <div class="content-text">
                    <p>
                        Lorem ipsum dolor sit amet.
                    </p>
                    <ul >
                        <li>
                            <div class="card">
                            <span class="icon fa fa-truck"></span>
                                <div class="card-content">
                                    
                                    <h1 class="card-title">Location de chaise</h1>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit consectetur dolor earum exercitationem perspiciatis sit!</p>
                                   
                                </div>
                            </div>
                        </li>
                        <li> 
                            <div class="card">
                            <span class="icon fa fa-truck"></span>
                                <div class="card-content">
                                   
                                    <h1 class="card-title">Livraison a domicile</h1>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit consectetur dolor earum exercitationem perspiciatis sit!</p>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                            <span class="icon fa fa-truck"></span>
                                <div class="card-content">
                                    
                                    <h1 class="card-title">Sevice traiteur</h1>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit consectetur dolor earum exercitationem perspiciatis sit!</p>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card">
                            <span class="icon fa fa-truck"></span>
                                <div class="card-content">
                                    
                                    <h1 class="card-title">Formation</h1>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit consectetur dolor earum exercitationem perspiciatis sit!</p>
                                   
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        
        </section>

        <!--section d-->
        <section class="" id="section-d">
            <div class="content-wrap">
                <h1 id="reservation" class="content-title">Reservation</h1>
                <form action="#" method="post" class="form">
                    <div>
                        <p>Nom</p>
                        <input type="text" name="name" placeholder=" Nom">
                        <i class=""></i>
                    </div>
                    <div>
                        <p>Email</p>
                        <input type="Email" name="Email" placeholder="Email">
                        <i class=""></i>
                    </div>
                    <div>
                        <p>Telephone</p>
                        <input type="number" name="phone" placeholder="Telephone">
                        <i class=""></i>
                    </div>
                    <div>
                        <p>Nombre de Personne</p>
                        <input type="number" name="peoples" placeholder="Nombre de Persone">
                        <i class=""></i>
                    </div>
                    <div>
                        <p>La Date</p>
                        <input type="date" name="date" placeholder="la Date">
                        <i class=""></i>
                    </div>
                    <div>
                        <p>L'heur</p>
                        <input type="time" name="time" placeholder="l'heur">
                        <i class=""></i>
                    </div>
                    <button class="grid_but" type="submit" class="">Reserver Maintenant</button>
                </form>
            </div>
        </section>

         <!--section e-->
         <section class="" id="section-e">
            <div class="content-wrap ">
                <h1 id="temoignage" class="content-title">Témoignage</h1>
                <div class="card card-showing slider">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Minima rem aliquam odit corporis doloremque, nam saepe!
                         Voluptates esse maxime quia ut ab ad quis, unde fugit 
                         similique porro eum corrupti.
                    </p>
                    <img src="https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                    <span>romaric aboule</span>
                  
                </div>
                <div class="card slider">
                    <p>Lorem, ipsum dolor sit amet consectetur . 
                        Minima rem aliquam odit corporis doloremque, nam saepe!
                         Voluptates esse maxime quia ut ab ad quis, unde fugit 
                         similique porro eum corrupti.
                    </p>
                    <img src="https://i.pinimg.com/564x/65/2d/3b/652d3b7d49e729c39690a7ec1f4d2da3.jpg">
                    <span>romaric aboule</span>
                </div>
                <div class="card slider">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Minima rem aliquam odit corporis doloremque, nam saepe!
                         Voluptates esse maxime quia ut ab ad quis, 
                         similique porro eum corrupti.
                    </p>
                    <img src="https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
                    <span>romaric aboule</span>
                    
                </div>
                <div class="card slider">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Minima rem aliquam odit corporis doloremque, nam saepe!
                         Voluptates esse maxime quia ut ab ad quis, unde fugit 
                         similique porro 
                    </p>
                    <img src="https://i.pinimg.com/564x/65/2d/3b/652d3b7d49e729c39690a7ec1f4d2da3.jpg">
                    <span>romaric aboule</span>
                    
                </div>
            </div>
            <span id="btn" class="button swapBtn left">←</span>
            <span id="btn" class="button swapBtn right">→</span>
        </section>
        <!--footer-->
        <footer id="main-footer" class="">
            <div class="box box1">
                <h3>Nos Horaires</h3>
                <div>
                    <h5>Pétit Déjeuner</h3>
                    <p>
                        Réservation de 6h00 à 10h30
                    </p>
                </div>
                <div>
                    <h5>Dinner</h3>
                    <p>
                        Réservation de 18h00 à 21h30
                    </p>
                </div>
                <div>
                    <h5>Dinner</h3>
                    <p>
                        Réservation de 18h00 à 21h30
                    </p>
                </div>
            </div>
            <div class="box box2">
                <h3 class="mail_title">Service Mail</h3>
                <form action="#" class="mail">
                        <button class="button"><span class="fa fa-envelope"></span></button>
                        <input type="email" class="form-control" placeholder="Enter Email">
                </form>
            </div>
            <div class="box">
                    <h3>Suivez nous :</h3>
                    <ul class=" social">
                        <li><a href="#"><span class="fa fa-tripadvisor"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
            </div>
           
        </footer>
        <div class="footer-b"><p>Copyright © 2020 All rights reserved | This is made with  by Romaric Aboule</div>
        <script>

           
        </script>
        <script src="js.js"></script>
    </body>
</html>